
.select{
    position: relative;
    min-width: 125px;
}
.selectHeader{
    color: #d9f8ec;
    display: flex;
    font-size: 18px;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(1, 28, 63, 0.99);
    padding: 0 5px;
    border-radius: 5px;
}
.selectHeader:hover{
    cursor:pointer;
}
.selectBodyActive{
    color: #000b2f;
    list-style: none;
    position: absolute;
    background-color: rgba(170, 241, 235, 0.8);
    width: 100%;
    padding: 5px;
    transition: all 0.1s linear;
    opacity: 1;
}
.selectBody{
    list-style: none;
    position: absolute;
    width:0;
    height: 0;
    opacity: 0;
    clip: rect(0 0 0 0);
    transition: all 1s linear;
}
.selectIcon{
transition: all 0.2s linear;
}
.selectItem{
    color: #d9f8ec;
    font-style: normal;
    padding: 0 3px 0 3px;
    background-color: #010933;
    text-align: initial;
    font-size: 16px;
    margin-top:5px ;
}
.selectItemActive{
    color: #000128;
    font-style: normal;
    padding: 0 3px 0 3px;
    background-color: #e6e7ef;
    text-align: initial;
    font-size: 16px;
    margin-top:5px ;
}
.selectItem:hover{
    cursor: pointer;
    background-color: #d2d6ec;
    color: #00082c;
}